/* Reset some default styles */
@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=DM+Sans:opsz,wght@9..40,400;9..40,600&family=Libre+Baskerville:wght@400;700&family=Ubuntu:wght@500&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

header {
    z-index: 100;
    position: sticky;
    top: 0px;
    display: block;
    padding: 2px;
    height: 100px;
    background-color: #445069;
}

nav {
    padding-top: 4px;
    margin: 0 14px;
    background-color: inherit;
    height: 90%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}

.container {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #445069;
    width:100%;
    list-style: none;
    align-items: center;
}

.links {
    display: inline-block;
    text-decoration:none ;
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 62%, rgba(134,174,204,1) 100%);
    color: #28206d;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 2px;
}

.links:nth-of-type(1) { flex-grow: 2}
.links:nth-of-type(3) { flex-grow: 3}
.links:nth-of-type(2) { flex-grow: 2}
.links:nth-of-type(4) { flex-grow: 3}
  
 ul a:hover {
    margin: 0 5px 3px -3px;
    font-size: 28px;
}

p a {
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      #fdfdfd 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    transition: all 0.3s ease-in-out;
    font-size: large;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    color: #000000;
  }
  
  p a:visited {
    color:#705a3a;
  }

  p a:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  p a:hover {
   background-position: 0;
  }
  
  p a:hover::before {
    width:100%;
  }

.stars {
    display: inline-block;
    position: relative;
}

.fa-shuttle-space {
    color: #b9dcdf;
    position: fixed;
    top:77px;
    left: 240px;
    display: block;
    z-index:20;
 }

 .fa-star:nth-of-type(2) {
    color: #ecd909;
    position: absolute;
    top:-47px;
    left: 140px;
    display: block;
}

.fa-star:nth-of-type(3) {
    color: #ecd909;
    position: fixed;
    top:77px;
    right: 180px;
    display: block;
}

.fa-star:nth-of-type(4) {
    color: #ecd909;
    position: absolute;
    top:-47px;
    left: 660px;
    display: block;
}

.fa-star:nth-of-type(5) {
    color: #ecd909;
    position: fixed;
    top:77px;
    right: 660px;
    display: block;
}

.fa-star:nth-of-type(6) {
    color: #ecd909;
    position: fixed;
    top:60px;
    right: 700px;
    display: block;
}

.character-frames {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    background-image: url(https://w7.pngwing.com/pngs/965/196/png-transparent-texture-mapping-paper-retro-paper-particles-superimposed-background-texture-white-building-thumbnail.png);
    background-color: rgba(197, 161, 161, 0.3);
    background-blend-mode: overlay;
    background-size: contain;
}

.character-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.character-frame img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #ffffff;
}

.comment-box {
    position: relative;
    background-color: #fff;
    border: 2px solid #000000;
    border-radius: 0% 30% 40% 30%;
    padding: 10px 20px;
    margin-top: 5px;
    font-family: 'Amaranth', sans-serif;
}

h3 {
    margin: 20px;
    padding: 5px;
    font-family: 'Ubuntu', sans-serif;
}

.tools-container {
    display: flex;
    align-items: center;
    border: #000000 solid 2px;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
}

.tools-title {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    font-family: 'Libre Baskerville', serif;
}

.vertical-line {
    border-left: 1px solid #000000;
    height: 500px; /* Adjust the height as needed */
    margin-right: 14px;
}

.tools-list {
    list-style-type: decimal;
    margin-left: 15px;
    font-family: 'Libre Baskerville', serif;
}

.tools-list li {
    margin-bottom: 5px;
}